<launch>
  <env name="ROSCONSOLE_FORMAT" value="[${severity}][${thread}][${node}/${function}:${line}]: ${message}"/>

  <arg name="camera_name" default="camera1" />

  <node pkg="hugin_panorama" type="hugin_panorama" name="hugin_panorama" output="screen">
    <remap from="panorama/compressed" to="panorama/compressed" />
    <remap from="image" to="/$(arg camera_name)/image_raw" />
    <remap from="camera_info" to="/$(arg camera_name)/camera_info" />
    <param name="images_path" value="$(find hugin_panorama)/images"/>
  </node>
</launch>
