<launch>
  <env name="ROSCONSOLE_FORMAT" value="[${severity}][${thread}][${node}/${function}:${line}]: ${message}"/>

  <arg name="image" default="/camera1/image_raw"/>
  <arg name="images_path" default="$(find hugin_panorama)/images"/>

  <group ns="hugin_panorama">
    <node pkg="hugin_panorama" type="hugin_panorama" name="hugin_panorama" output="screen">
      <remap from="panorama/compressed" to="panorama/compressed" />
      <remap from="image" to="$(arg image)" />
      <param name="images_path" value="$(arg images_path)"/>
    </node>
  </group>
</launch>
