<?xml version='1.0'?>
<launch>
  <node pkg="joy" type="joy_node" name="joy" >
    <param name="autorepeat_rate" value="10" />
    <param name="dev" value="/dev/input/js0" />
  </node>
  <node pkg="rover_control" name="teleop_joy" type="teleop_joystick.py" output="screen" >
    <remap from="cmd_vel" to="base_controller/cmd_vel" /> 
  </node> 
</launch>
